.text-animation {
  font-size: 34px;
  font-weight: 600;
  min-width: 320px;
  display: inline-block;
  vertical-align: baseline;
  margin-left: 8px;
}

.text-animation span {
  color: var(--main-color);
}

.text-animation span::before {
  content: "un développeur";
  animation: changeText 15s infinite;
}

@keyframes changeText {
  0%, 15% {
    content: "un développeur";
    opacity: 1;
    transform: translateY(0);
  }
  
  17% {
    opacity: 0;
    transform: translateY(-10px);
  }
  
  20%, 35% {
    content: "un développeur web junior";
    opacity: 1;
    transform: translateY(0);
  }
  
  37% {
    opacity: 0;
    transform: translateY(-10px);
  }
  
  40%, 55% {
    content: "un étudiant en informatique";
    opacity: 1;
    transform: translateY(0);
  }
  
  57% {
    opacity: 0;
    transform: translateY(-10px);
  }
  
  60%, 75% {
    content: "un apprenant constant";
    opacity: 1;
    transform: translateY(0);
  }
  
  77% {
    opacity: 0;
    transform: translateY(-10px);
  }
  
  80%, 95% {
    content: "celui que vous cherchez";
    opacity: 1;
    transform: translateY(0);
  }
  
  97% {
    opacity: 0;
    transform: translateY(-10px);
  }
  
  100% {
    content: "un développeur";
    opacity: 1;
    transform: translateY(0);
  }
}
